<button class="route-button">Save</button>
<div class="route-button-menu" style="display: none;">
  <div class="groups-list" style="max-height: 215px;">
    <% for group in @route_groups %>		
      <li style="display: block;">
        <input class="select-button" type="checkbox"/>
	<%=group.name%>
      </li>
    <%end%>
    <button class="add-group-btn">Add</button>  
   </ul>
  </div>
  <div class="add-shelf" style="display: none;">
    <form accept-charset="UTF-8" action="" method="post">
      <input type="text" />
    </form>
  </div>
</div>
