<div class="groups-list-menu">
  <ul>
    <li><%= link_to 'Add new', new_group_path, :remote=>true  %>	
    <% @groups.each do |group| %>
    <li><%= link_to group.name, 'groups/' + group.id.to_s + '/routes', :remote=>true %>
    <%end%>	
  </ul>	  
</div>
<div id="routes-per-group" class="routes-per-group">
  	
</div>
