// Place all the styles related to the Finder controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.route-data {
  display: block;
}

.form-inline {
  padding: 10px;
}

.form-inline > * {
  margin: 15px 10px !important;
}
