// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-box-container {
  width: 800px;
  margin: 50px auto 0px;
  border: solid 1px;
  border-radius: 40px;
  background-color: #CEFCB7;
}

.search-box {
  padding: 20px 30px 40px 20px;
}

.search-box label {
  display: inline-block;	
  width: 150px;
  text-align: right;
  padding: 5px;
}

.search-box #submit {
  float: right;
}
